@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}
:root{
    --index: calc(1vw + 1vh);
}
header{
    width: 100%;
    height: calc(var(--index) * 4.8);
    background-color: #87E9FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_leftside{
    width: 65%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header_logo_con{
    width: 12.5%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.header_logo_con img{
    width: 80%;
    height: 80%;
}
.header_search_bar_con{
    width: 80%;
    height: 80%;
    padding-left: 0.8vw;
}
.header_search_bar input{
    width: 90%;
    height: calc(var(--index) * 2.3);
    border-radius: calc(var(--index) * 2);
    border: calc(var(--index) * 0.2) solid gray;
    padding-left: 1vw;
    font-size: calc(var(--index) * 1.4);
    font-weight: 700;
}
.header_rightside{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_location{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_location p{
    color: white;
    font-size: calc(var(--index) * 1.6);
    font-weight: 800;
    -webkit-text-stroke: calc(var(--index) * 0.05) black;
    letter-spacing: calc(var(--index) * -0.05);
    margin-right: calc(var(--index) * 0.3);
}
.header_location img{
    width: 3vw;
    opacity: 0.5;
}
.header_burger{
    width: 12%;
    height: calc(var(--index) * 1.8);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: calc(var(--index) * 2);
}
.burger_line{
    width: 100%;
    height: calc(var(--index) * 0.23);
    background-color: white;
    border-radius: calc(var(--index) * 2);
    border: calc(var(--index) * 0.1) solid black;
}
.main_img{
    width: 100%;
    height: calc(var(--index) * 36);
    background-image: url(img/header_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main_img_blur{
    width: 100%;
    height: calc(var(--index) * 36);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_img_inside{
    width: calc(var(--index) * 33);
    height: calc(var(--index) * 12);
    background-color: rgba(61, 61, 61, 0.7);
    border-radius: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: calc(var(--index) * 1.35);
    margin-top: calc(var(--index) * -3.75);
}
.main_img_heading{
    width: calc(var(--index) * 20);
    height: calc(var(--index) * 3.7);
    text-align: center;
    font-size: calc(var(--index) * 3);
    line-height: calc(var(--index) * 2.5);
    font-weight: 700;
}
.main_img_description{
    width: calc(var(--index) * 27);
    text-align: center;
}
.main_about{
    width: 100%;
    height: calc(var(--index) * 36);
    background-color: white;
    display: flex;
}
.main_about_left{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.main_about_textbox{
    width: 80%;
    height: 65%;
    background-color: rgba(128, 128, 128, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 4vw;
    color: black;
    z-index: 10;
}
.main_about_heading{
    width: 70%;
    height: 15%;
    text-align: center;
    font-size: calc(var(--index) * 2.5);
    font-weight: 700;
}
.main_about_description{
    width: 70%;
    height: 70%;
    font-size: calc(var(--index) * 1.1);
    line-height: calc(var(--index) * 1.4);
    text-align: center;
}
.main_about::after{
    content: '';
    position: absolute;
    bottom: calc(var(--index) * -61);
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(img/after.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 9;
}
.main_about_woman{
    margin-left: calc(var(--index) * 3);
}
.main_about_woman img{
    width: calc(var(--index) * 35);
    height: calc(var(--index) * 35);
}
.main_offer{
    width: 100%;
    height: calc(var(--index) * 44);
    background-color: white;
}
.main_offer_name{
    width: 100%;
    height: calc(var(--index) * 11.3);
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: calc(var(--index) * 3.5);
    font-weight: 700;
}
.main_offer_slider{
    width: 100%;
    height: calc(var(--index) * 32.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_offer_arrow{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_offer_arrow_itself{
    width: 40%;
    height: 15%;
    background-color: white;
    border-radius: calc(var(--index) * 2);
    border: calc(var(--index) * .3) solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_offer_arrow_itself img{
    width: 40%;
    height: 30%;
}
#prev img{
    rotate: 180deg;
}
.main_offer_slider_absolute{
    width: 56%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main_offer_slider_container{
    width: 200%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 50%;
}
.main_offer_slider_pill_container{
    width: 16.66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s all ease;
    left: 0;
}
.main_offer_slider_pill{
    width: 100%;
    height: 75%;
    background-color: gray;
    border-radius: calc(var(--index) * 10);
    position: relative;
    transition: 0.5s all ease;
    left: 0;
}
.main_offer_slider_pill_top{
    width: 100%;
    height: 48%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: calc(var(--index) * 7);
    border-top-right-radius: calc(var(--index) * 7);
}
#pill_1_img{
    background-image: url(img/pill-1.jpg);
}
#pill_2_img{
    background-image: url(img/pill-2.jpeg);
}
#pill_3_img{
    background-image: url(img/pill-3.jpg);
}
#pill_1{
    scale: 0.75;
    opacity: 0.75;
}
#pill_2{
    scale: 1;
    opacity: 1;
}
#pill_3{
    scale: 0.75;
    opacity: 0.75;
}
#pill_4{
    scale: 0.75;
    opacity: 0.75;
}
#pill_5{
    scale: 0.75;
    opacity: 0.75;
}
.main_offer_slider_pill_border{
    width: 100%;
    height: 4%;
    background-color: #87E9FF;
}
.main_offer_slider_pill_text{
    width: 90%;
    height: 43%;
    padding: 5%;
    color: white;
    font-size: calc(var(--index) * 1.5);
    font-weight: 700;
    margin-top: calc(var(--index) * -0.5);
}

footer{
    background-color: #87E9FF;
    width: 100%;
    height: calc(var(--index) * 5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: calc(var(--index) * 1.5);
    font-weight: 700;
    -webkit-text-stroke: black calc(var(--index) * 0.05);
}